*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
    display: grid;
    grid-template-columns: minmax(200px, 800px);
    justify-content: center;
    gap: 40px;
    margin: 20px;
    font-family: 'Cascadia Mono', monospace;
}

h1 {
    text-align: center;
}

#terminal {
    background-color: black;
    color: #33ff33;
    height: 400px;
    display: grid;
    padding: 10px;
    border-radius: 10px;
    align-content: start;
    overflow: scroll;
}

#output {
    white-space: pre-line;
}

#input-area {
    display: flex;
    align-items: start;
}

#terminal-input {
    all: unset; /* wipe most browser styles */
    flex: 0 1 auto;
    caret-color: transparent;
}

#cursor {
    width: 10px;
    height: 1.2em;
    background-color: #33ff33;
    opacity: .5;
}

#input-area:focus-within #cursor {
    opacity: 1;
    animation: blink 1.4s step-end infinite;
}

#new-game-btn {
    justify-self: center;
    padding: 20px;
    font-size: 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (min-width: 500px) {
    main {

    }
}

@keyframes blink {
    0% {opacity : 0;}
    50% {opacity : 1;}
}

