*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
    display: grid;
    grid-template-columns: minmax(200px, 800px);
    justify-content: center;
    gap: 40px;
    margin: 40px;
    font-family: "JetBrains Mono", monospace;
}

h1 {
    text-align: center;
}

div#terminal {
    background-color: black;
    color: white;
    height: 400px;
    display: grid;
    padding: 10px;
    border-radius: 10px;
    align-content: start;
    overflow: scroll;
}

#output {
    white-space: pre-line;
}

div#input-area {
    display: flex;
    align-items: start;
}

input#terminal-input {
    all: unset; /* wipe most browser styles */
    width: 100%;
}

