*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
    display: grid;
    grid-template-columns: minmax(200px, 800px);
    justify-content: center;
    gap: 40px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

div#terminal {
    background-color: black;
    color: #33ff33;
    height: 400px;
    display: grid;
    padding: 10px;
    border-radius: 10px;
    align-content: start;
    overflow: scroll;
}

#output {
    white-space: pre-line;
}

div#input-area {
    display: flex;
    align-items: start;
}

input#terminal-input {
    all: unset; /* wipe most browser styles */
    width: 100%;
}

input#terminal-input:focus {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: 0;
}

#cursor {
    width: 10px;
    height: 1.2em;
    background-color: #33ff33;
}

button#new-game-btn {
    justify-self: center;
    padding: 20px;
    font-size: 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (min-width: 500px) {
    main {

    }
}

